# =========================
# IntelliJ / PyCharm
# =========================
.idea/
*.iml

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Packaging
*.egg-info/
dist/
build/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# AWS / Secrets
# =========================
.aws/
*accessKeys.csv
*_accessKeys.csv
*.pem
*.key
credentials

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*.swo
*~
